table,
th,
td,
tr {
  border-collapse: collapse;
  border: 1px solid black;
}
.s {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 0;
}
section {
  padding: 0;
  display: flex;
  flex-direction: row;
}
